<h1>Post a New Work</h1>

<%= form_for @work  do |f| %>
<p>
  <%= f.label :title %><br>
  <%= f.text_field :title %>
</p>
<p>
  <%= f.label :description %><br>
  <%= f.text_area :description %>
</p>
<p>
  <%= f.submit %>
</p>

<%end%>
